Create me {{number_phrases}} setences catch phrases maximum {{chars}} characters each for a product with this description:'{{prompt}}' give me only the setences, no other text and in json format, with json structure [setence1,setence2] 