Create me {{number_phrases}} catch phrases 
with maximum {{chars}} characters
for a product with this description:'{{prompt}}' give me only JSON in format 
{
    "phrases": [
        "setence1",
        "setence2"
    ]
}